<div id="account">
    <% if (typeof logged != "undefined" && logged) { %>
        <ul>
        	<li class="nav">
        		<a class="<%= active === 'store' && 'active' %>" href="/store"> Store Search </a>
        	</li>
        	<li class="nav">
        		<a class="<%= active === 'cart' && 'active' %>" href="/cart"> Shopping Cart </a>
        	</li>
        	<li class="nav">
        		[ <%= username %>: <a class="button" href="/logout"><u>Logout</u></a> ]
        	</li>
        </ul>
    <% } else { %>
        <span id="logged">Not Logged In</span>
    <% } %>
</div>
