<!DOCTYPE html>
<html>
    <head>
        <title> Final Project </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="css/styles.css" rel="stylesheet">
        <script src="js/functions.js"></script>
    </head>
    <body>