<!DOCTYPE html>
<html>
    <head>
        <title> Final Project </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="css/styles.css" rel="stylesheet">
        <script src="js/functions.js"></script>
    </head>
    <% if (typeof logged != "undefined" && logged) { %>
        <ul>
        	<li class="nav">
        		<a class="<%= active === 'store' && 'active' %>" href="/store"> Store Search </a>
        	</li>
        	<li class="nav">
        		<a class="<%= active === 'cart' && 'active' %>" href="/cart"> Shopping Cart </a>
        	</li>
        	<li class="nav">
        		[ <%= username %>: <a class="button" href="/logout"><u>Logout</u></a> ]
        	</li>
        </ul>
    <% } else { %>
        <h3 id="logged">Not Logged In</h3>
    <% } %>
    <body>