<%- include('partials/header.ejs') %>
<script src="js/account.js"></script>
<div class="container-main">
    <h1> My Account </h1>
    <div id="accountinfo">
        <form method="POST">
            <div>
                <label for="fname" class="col-sm-1 col-form-label">Last Name:</label>
                <input type="text" id="fname" name="fname" value="" />
            </div>
            <div>
                <label for="lname" class="col-sm-1 col-form-label">First name:</label>
                <input type="text" id="lname" name="lname" value="" />
            </div>
            <div>
                <label for="email" class="col-sm-1 col-form-label">Email:</label>
                <input type="email" id="email" name="email" value="" />
            </div>
            <div>
                <button type="submit">Update Profile</button>
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer.ejs') %>
