<%- include('partials/historyheader.ejs') %>
<main>
    <h1> History Page </h1>
    <label for="history">Orders:</label>
    <select id="history" name="history">
        <option value="0"> Select One </option>
    </select>
    <br>
    <button type="submit" class="button button-block" id="order"/>History</button>
    <br>
    <table id="orders">
        <tr><th>Item</th><th>Cost</th></tr>
    </table>



</main>
<%- include('partials/footer.ejs') %>
