<%- include('partials/header.ejs') %>
<script src="js/history.js"></script>
<main>
    <h1> Orders </h1>
    <label for="history">Orders:</label>
    <select id="history" name="history">
        <option value="0"> Select One </option>
    </select>
    <br>
    <button type="submit" class="button button-block" id="order"/>Get Order</button>
    <br>
    <table id="orders">
        <tr><th>Item</th></tr>
    </table>



</main>
<%- include('partials/footer.ejs') %>
