<%- include('partials/header.ejs') %>

    <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
    </ul>

    <div class="tab-content">
        <div class="active form-group" id="signup">

            <form method="POST">
                <h1>Create Account</h1>
                <% if (typeof loginError != "undefined" && loginError) { %>

                    <h3 class="error">Wrong Credentials</h3>

                <% }%>
                <label class="col-sm-2 col-form-label">Desired Username</label>
                <input type="text" id="username" name="username"/>
                <br /><label class="col-sm-2 col-form-label">Desired Password</label>
                <input type="password" id="password" name="password"/>
                <button type="submit" class="button button-block"/>Create</button>
                <input type="hidden" name="action" value="create">
            </form>
        </div>
        <div class="form-group" id="login">
            <h1>Welcome Back!</h1>

            <form method="POST">
                <% if (typeof loginError != "undefined" && loginError) { %>

                    <h3 class="error">Wrong Credentials</h3>

                <% }%>
                <label class="col-sm-2 col-form-label"> Username</label>
                <input type="text" name="username"/>
                <br /><label class="col-sm-2 col-form-label">Password</label>
                <input type="password" name="password"/>
                <button class="button button-block" id="login"/>Login</button>
                <input type="hidden" name="action" value="login">
            </form>
        </div>
    </div>

<%- include('partials/footer.ejs') %>
