<%- include('partials/header.ejs') %>
        <main>
            <h1> Store </h1>
            
            <form>
                <label> Email Address</label>
                <input type="email" required autocomplete="off"/>
                <label>Password</label>
                <input type="password" required autocomplete="off"/>
                <button class="button button-block"/>Log In</button>
            </form>
            
        </main>
<%- include('partials/footer.ejs') %>