<%- include('partials/header.ejs') %>
        <main>
            <h1> Welcome </h1>
            <form action="/logout">
                <button> Logout </button>
            </form>
        </main>
<%- include('partials/footer.ejs') %>